<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admini.css') }}">
    <title>Administrar_cuentas</title>
</head>
<body>
    <main>
        <section class="ini">
            <div class="lol">
                <a href="{{ url_for('ccuentas')}}"><p>Crear cuentas</p></a>
            </div>
            <div class="lol">
                <a href="{{ url_for('edita')}}"><p>Editar cuentas</p></a>
            </div>
            <div class="lol">
                <a href="{{ url_for('eliminar')}}"><p>Eliminar cuentas</p></a>
            </div>
            <div class="lol">
                <a href="{{ url_for('cuentas') }}"><p>Cerrar sesión</p></a>
            </div>
            <div>
                <a href="{{ url_for('admin') }}"><p>Regresar a la página anterior</p></a>
            </div>
        </section>
    </main>
</body>
</html>