<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/advertencia.css') }}">
  <title>Advertencia Eliminar Cuenta</title>
</head>
<body>
  <div class="container">
    <h1 class="title">Advertencia de eliminar cuenta</h1>
    <div class="options">
      <button class="option1">Deseas eliminar esta cuenta: <br>   (Correo de la cuenta)</button>
      <button class="option"><a href="{{ url_for('eliminada')}}">Eliminar cuenta</a></button>
      <button class="option"><a href="{{ url_for('eliminar')}}">Cancelar</a></button>
      <button class="option"><a href="{{ url_for('admincuentas') }}">Regresar al menu de administrador</a></button>
    </div>
  </div>
</body>
</html>