<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contactos.css') }}">
  <title>Comucación con los Administradores</title>
</head>
<body>
  <div class="container">
    <h1>Comunicarse con Administradores</h1>
    <div class="admin-cards">
      <div class="admin-card">
        <div class="admin-profile-pic"></div>
        <div class="admin-info">
          <p>Alvaro A. Rangel</p>
          <p>arangela2300@Alumno.ipn.mx</p>
        </div>
      </div>
      <div class="admin-card">
        <div class="admin-profile-pic"></div>
        <div class="admin-info">
          <p>Cervantes Arriaga Daniel Arturo</p>
          <p>cervantesarriagadanielarturo@Alumno.ipn.mx</p>
        </div>
      </div>
      <div class="admin-card">
        <div class="admin-profile-pic"></div>
        <div class="admin-info">
          <p>Briana Galicia</p>
          <p>brianasg@Alumno.ipn.mx</p>
        </div>
      </div>
      <div class="admin-card">
        <div class="admin-profile-pic"></div>
        <div class="admin-info">
          <p>Sebastian Martinez Chavez</p>
          <p>smartinezc2305@Alumno.ipn.mx</p>
        </div>
      </div>
      <div class="admin-card">
        <div class="admin-profile-pic"></div>
        <div class="admin-info">
          <p>Carlos Lain Maldonado</p>
          <p>cmaldonadoa2300@Alumno.ipn.mx</p>
        </div>
      </div>
      <div class="admin-card">
        <div class="admin-profile-pic"></div>
        <div class="admin-info">
          <p>Sebastian Sanchez Bravo</p>
          <p>sebastiansanchezbravo@Alumno.ipn.mx</p>
        </div>
      </div>
    </div>
    <button class="btn"><a href="{{ url_for('srepre')}}">Regresar</a></button>
  </div>
</body>
</html> 