<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cuentac.css') }}">
    <title>Datos Registrados</title>
</head>
<body>
    <main>
        <section class="ini">
            <div class="cre">
                <p>Los datos han sido registrados con éxito</p>
            </div>
            <div>
                <a href="{{ url_for('mtrabajador') }}"><p>Regresar al menú de trabajadores</p></a>
            </div>
        </section>
    </main>
</body>
</html>