<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/eliminada.css') }}">
  <title>Cuenta Eliminada</title>
</head>
<body>
  <div class="container">
    <h1 class="title">Cuenta eliminada con éxito</h1>
    <div class="options">
      <button class="option1"><a href="{{ url_for('admincuentas')}}">Regresar al menu de administrador</a></button>
    </div>
  </div>
</body>
</html>