<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>BASEBURA</title>
</head>
<body>
    <div class="hero">
        <div>
        </div>
    </div>
    <main>
        <section class="texto">
            <div class="bote">
            </div>
            <div class="tx">
                <p>Basebura es una empresa que se encarga de realizar recolecciones de basura en los tianguis de manera más eficiente y práctica</p>
            </div>
            <div class="bote">
            </div>
        </section>
        <section class="bot">
            <div class="bo1">
            </div>
            <div class="boton">
                <a href="{{ url_for('cuentas') }}"><p>Comenzar</p></a>
            </div>
            <div class="bo2">
            </div>
        </section>
    </main>
    
</body>
</html>