<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/representante.css') }}">
    <title>Representante</title>
</head>
<body>
    <main>
        <section class="ini">
            <div class="lol">
                <form action="/r" method="post">
                    <label for="email">Correo electrónico : </label>
                    <input type="text" id="email" name="email" placeholder="Ingresa tu Correo" required>
            </div>
            <div class="lol">
                    <label for="contraseña">Contraseña : </label>
                    <input type="password" id="contraseña" name="contraseña" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="on">
                    <button type="submit">Enviar</button>
            </div>
            <div class="on">
                    <a href="{{ url_for('cuentas') }}"><p>Cancelar</p></a>
            </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>