<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/srepre.css') }}">
    <title>Servicios Representante</title>
</head>
<body>
    <main>
        <section class="ini">
            <div class="lol">
                <a href="{{ url_for('solicitars')}}"><p>Solicitar servicio</p></a>
            </div>
            <div class="lol">
                <a href="{{ url_for('datos')}}"><p>Consultar Reporte</p></a>
            </div>
            <div class="lol">
                <a href="{{ url_for('estatusreco')}}"><p>Consultar estatus del servicio</p></a>
            </div>
            <div class="lol">
                <a href="{{ url_for('cuentas')}}"><p>Cerrar sesión</p></a>
            </div>
            <div>
                <a href="{{ url_for('contactos')}}"><p class="mar">Comunicarse con los administradores</p></a>
            </div>
            <div>
                <a href="{{ url_for('representante')}}"><p>Regresar a la página anterior</p></a>
            </div>
        </section>
    </main>
</body>
</html>